<!-- Общая логика сайта. Страничные скрипты подключаются после этого partial. -->
<script src="/vendor/trialli/bitrix/js/main/core/core.js"></script>
<script src="/vendor/trialli/local/templates/trialli/npm/jquery.min.js"></script>
<script src="/vendor/trialli/local/templates/trialli/npm/jquery.custom-select.js"></script>
<script src="/vendor/trialli/local/templates/trialli/npm/jquery.magnific-popup.min.js"></script>
<script src="/vendor/trialli/local/templates/trialli/js/owl.min.js"></script>
<script src="/vendor/trialli/local/templates/trialli/js/bootstrap.min.js"></script>
<script src="/vendor/trialli/local/templates/trialli/npm/swiper-bundle.min.js"></script>
<script src="/vendor/trialli/local/templates/trialli/js/custom.js"></script>
<script src="/vendor/trialli/local/templates/trialli/js/cart.js"></script>
<script src="/vendor/trialli/local/templates/trialli/js/fancybox.umd.js"></script>
<script src="/vendor/trialli/local/templates/trialli/components/bitrix/menu/headerMobile/script.js"></script>
<script src="/vendor/trialli/bitrix/components/bitrix/search.title/script.js"></script>
<script type="module" src="/vendor/trialli/external/ajax.googleapis.com/ajax/libs/model-viewer/3.1.1/model-viewer.min.js"></script>
<script type="module" src="/src/scripts/site.js"></script>
<script type="module" src="/src/scripts/catalog-menu.js"></script>
