<!-- Общие стили сайта. Подключаются на каждой странице до её собственных стилей. -->
<link rel="icon" href="/assets/trialli-home/logo.svg" />
<link rel="stylesheet" href="/vendor/trialli/bitrix/js/main/core/css/core.css" />
<link rel="stylesheet" href="/vendor/trialli/local/templates/trialli/components/bitrix/search.title/.default/style.css" />
<link rel="stylesheet" href="/vendor/trialli/local/templates/trialli/css/main.css" />
<link rel="stylesheet" href="/vendor/trialli/local/templates/trialli/css/fancybox.css" />
<link rel="stylesheet" href="/vendor/trialli/local/templates/trialli/css/custom.css" />
<link rel="stylesheet" href="/vendor/trialli/local/templates/trialli/npm/magnific-popup.css" />
<link rel="stylesheet" href="/vendor/trialli/local/templates/trialli/npm/swiper-bundle.min.css" />
<link rel="stylesheet" href="/vendor/trialli/local/templates/trialli/components/bitrix/form.result.new/vin/style.css" />
<link rel="stylesheet" href="/vendor/trialli/local/templates/trialli/css/template_styles.css" />
<link rel="stylesheet" href="/vendor/trialli/local/templates/trialli/css/adaptive_new.css" />
<link rel="stylesheet" href="/src/styles/site-components.css" />
<script src="/vendor/trialli/local/templates/trialli/js/vendor/modernizr.js"></script>
